{# The pentagonal Euclid's Elements imagemap from the original site.
   13 clickable Roman-numeral regions, one per book, plus the
   central pentagon linking back to the Table of Contents. Used on
   the root page, on main-directory prematter pages, and on each
   Book intro page (matching the original loadHeader() JS). #}
<center>
  <img src="/elements/logo.gif" alt="Euclid's Elements"
       usemap="#tocmap" height="238" width="245" border="0">
</center>

<map name="tocmap">
  <area shape="rect" coords="59,88,193,164"   href="/elements/" alt="Table of Contents">
  <area shape="rect" coords="160,10,188,31"   href="/elements/books/bookI/"    alt="Book I">
  <area shape="rect" coords="194,34,215,70"   href="/elements/books/bookII/"   alt="Book II">
  <area shape="rect" coords="215,73,243,98"   href="/elements/books/bookIII/"  alt="Book III">
  <area shape="rect" coords="217,118,242,139" href="/elements/books/bookIV/"   alt="Book IV">
  <area shape="rect" coords="208,163,231,185" href="/elements/books/bookV/"    alt="Book V">
  <area shape="rect" coords="176,199,203,219" href="/elements/books/bookVI/"   alt="Book VI">
  <area shape="rect" coords="134,215,172,236" href="/elements/books/bookVII/"  alt="Book VII">
  <area shape="rect" coords="74,215,115,236"  href="/elements/books/bookVIII/" alt="Book VIII">
  <area shape="rect" coords="44,197,72,218"   href="/elements/books/bookIX/"   alt="Book IX">
  <area shape="rect" coords="16,163,44,183"   href="/elements/books/bookX/"    alt="Book X">
  <area shape="rect" coords="0,121,31,140"    href="/elements/books/bookXI/"   alt="Book XI">
  <area shape="rect" coords="0,78,36,98"      href="/elements/books/bookXII/"  alt="Book XII">
  <area shape="rect" coords="10,32,57,54"     href="/elements/books/bookXIII/" alt="Book XIII">
</map>
